* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;

}

/* Body */
.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-inline: 20px;
}

/*Header */

.header {
    display: block;
    border-color: #dfcfbd;
    box-shadow: 0px 5px 20px #d7a38e;
    background-color: #edddce;
    width: 100vw;

}


/* Barra de navegacion */
.nav-bar {
    width: 100vw;
    display: none;


}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    margin-bottom: 50px;
}

.about-me p {
    font-size: 1.25rem;
    margin-block: 20px;
}

.about-me h1 {
    color: #d7a38e;
    font-size: 1.875rem;
}

.about-me button {
    width: 150px;
    margin: auto;
    background-color: #f5e5d4;
    border-radius: 15px;
    padding-block: 10px;
}

img {
    width: 170px;
    margin: auto;
}

#habilidades {
    background-color: #f6f7fb;
    display: flex;
    text-align: center;
    width: 100%;
}

.experience h2 {
    font-size: 2.1875rem;
    margin-top: 80px;
    margin-bottom: 30px;

}

.experience_info {
    margin: 50px 15px;
}

.brain {
    color: #d7a38e
}

.icons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}


.class_icon_experience {
    display: flex;
    width: 140px;
    height: 150px;
    border-style: groove;
    margin: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    background-color: white;
}

.class_icon_experience:hover{
border-color: #c69;

}

.fa-brands {
    font-size: 2.5rem;
    margin: 20px;
}

/*ASIGNACION DE COLORES EN ICONOS USANDO BEFORE*/
.fa-html5 {
    color: #e54d26;
}

.fa-css3-alt {
    color: #3d8fc6;
}

.fa-sass{
    color: #c69;
}

.fa-js {
    color: #f0db4f
}

.fa-react {
    color: #61dafb
}

.fa-git-alt {
    color: #f34f29;
}

/*Quote Section */
.Quote{
    padding: 50px;
    width: 100%;
    background-color: #d7a38e;
    text-align: center;
    
}

.fa-quote-left , .fa-quote-right{
    font-size: 80px;
    color: #f5e5d4;

}

.Quote-edits p{
    color: wheat;
    font-size: 1.875rem;
    margin: 30px;
    font-family: 'Playfair Display', serif;
}

/* Proyectos section */
#proyectos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.proyectos_section h2 {
    padding: 20px;
    font-size: 2.1875rem;
}

.proyectos_section p{
    font-size: 1.25rem;
}

.img_proyectos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d7a38e;
    border-radius: 20px;
    margin: 20px;
    padding: 20px; 
}

.img_proyectos img{
        object-fit: contain;
        aspect-ratio: 3/2;
        width: 100%;
}

.img_proyectos a{
    text-decoration: none;
    color: #d7a38e;
}

.img_proyectos:hover{
    border-color: black;
}

#contactame{
    display: flex;
    flex-direction: column;
}

.contact-me{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.Contactac-me_contact h2{
    font-size: 2.1875rem;
    margin-bottom: 30px;
    text-align: center;
}

.Contactac-me_contact p {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.apps{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.app a{
    color: #d7a38e;
    text-decoration: none;
    border-color: #c69;
}

.app i{
    font-size:  20px;
}
.app a:hover{
    color: #c69;
    font-size: 22px;  
}


form{
    padding-inline: 15px;
}

.contact-me_escribime{
    margin-bottom: 50px;
}
.contact-me_escribime h2{
    font-size: 2.1875rem;
    margin-bottom: 30px;
    text-align: center;
}

label {
    display: block; 
    margin-bottom: 4px; 
    margin-top: 10px;
    font-weight: bold;
}

input, textarea{
    border-radius: 20px;
    background-color: #F2F2F2;
    border: 1px solid #d7a38e;
    padding: 10px 15px;
    width: 100%;
}

.submit_class {
    border-radius: 20px;
    background-color: #F2F2F2;
    border: 1px solid #d7a38e;
    margin-top: 20px;
    padding: 10px 15px;
    width: 50%;
}

footer{
    background-color: #f5e5d4;
}

.footer_logos{
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 40px;
padding-top: 50px;

}

.logo i{
    color: #d7a38e;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-style: dotted;
    border-radius: 60px;
    background-color: white;
}

footer p{
    padding-inline: 10px;
    text-align: center;
    
}